@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit; }

@font-face {
  font-family: "archivoB";
  src: url("../fonts/ArchivoBlack-Regular.otf"); }

@font-face {
  font-family: "archivo";
  src: url("../fonts/SelectricMono.otf"); }

html {
  font-size: 16px; }

body {
  font-family: monospace;
  line-height: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "archivo"; }
  body header {
    position: fixed;
    width: 18rem;
    height: 100vh;
    background-color: #000; }
    body header h1 {
      background-color: red;
      color: #fff;
      padding: 0.5rem 0.5rem 1rem 0.5rem;
      font-family: "archivoB";
      width: 100%;
      text-transform: uppercase; }
    body header #credits {
      background-color: #000;
      color: white;
      position: absolute;
      bottom: 0;
      width: 18rem;
      padding: 0.5rem; }
    body header #refresh {
      padding: 0.5rem;
      width: 100%;
      vertical-align: center;
      font-family: "archivoB";
      text-transform: uppercase;
      background-color: #dddddd; }
    body header nav {
      background-color: #fff;
      width: 100%;
      overflow-y: scroll;
      background-color: yellow; }
      body header nav > div {
        background-color: yellow;
        width: 100%; }
        body header nav > div a {
          display: block; }
        body header nav > div > div {
          background-color: blue;
          color: #fff; }
          body header nav > div > div a::before {
            content: "↪ "; }
      body header nav div a {
        padding: 0 0.5rem 0 0.5rem; }
  body h2, body h3 {
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: "archivoB"; }
  body main {
    width: calc(100% - 18rem);
    margin: 0 0 0 18rem; }
    body main a {
      display: inline-block;
      color: black;
      padding: 0 0.5rem 0 0.5rem; }
    body main .resources {
      background-color: yellow; }
      body main .resources .res:nth-child(odd) a {
        background-color: white; }
      body main .resources .res:nth-child(odd) a:hover {
        background-color: magenta;
        color: white; }
      body main .resources .res:nth-child(even) a {
        background-color: #dddddd; }
      body main .resources .res:nth-child(even) a:hover {
        background-color: magenta;
        color: white; }
      body main .resources .res {
        padding: 0 2rem 0 0.5rem;
        background-color: black;
        color: white; }
        body main .resources .res strong {
          background-color: red;
          color: white;
          padding: 0 0.5rem 0 0.5rem;
          display: inline-block; }
        body main .resources .res p {
          display: inline; }
      body main .resources .res::before {
        content: "🔗 ";
        color: red; }
      body main .resources .res.fire::before {
        content: "🔥🔥🔥 ";
        color: red; }
      body main .resources > .resources {
        margin-left: 2rem;
        margin-right: 4rem;
        background-color: blue; }
        body main .resources > .resources h2, body main .resources > .resources h3 {
          color: #fff; }
