@import "reset";

@font-face{

	font-family: "archivoB";
	src:url("../fonts/ArchivoBlack-Regular.otf");
}


@font-face{

	font-family: "archivo";
	src:url("../fonts/SelectricMono.otf");
}

html{

	font-size: 16px;
}

body{

	font-family: monospace;
	line-height: 1.4rem;
	display: flex;
	flex-wrap: wrap;
	font-family: "archivo";


	header{

		position: fixed;
		width: 18rem;
		height: 100vh;
		background-color: #000;



		h1{


			background-color: red;
			color: #fff;
			padding: 0.5rem 0.5rem 1rem 0.5rem;
			font-family: "archivoB";
			width: 100%;
			text-transform: uppercase;
		}

		#credits{

			background-color: #000;
			color: white;
			position: absolute;
			bottom: 0;
			width: 18rem;
			padding: 0.5rem;
		}

		#refresh{
			padding: 0.5rem;
			width: 100%;
			vertical-align: center;
			font-family: "archivoB";
			text-transform: uppercase;
			background-color: #dddddd;

		}

		nav{

			background-color: #fff;
			width: 100%;
			overflow-y: scroll;
			background-color: yellow;

			>div{

				background-color: yellow;
				width: 100%;

				a{
					display: block;
				}

				>div{

					background-color: blue;
					color: #fff;

					a::before{

						content: "↪ ";
					}
				}
			}

			div{

				a{
					padding: 0 0.5rem 0 0.5rem;

				}



			}

		}
	}


	h2, h3{

		padding: 0.5rem;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		font-family: "archivoB";

	}


	main{

		width: calc(100% - 18rem);
		margin: 0 0 0 18rem;


		a{

			display: inline-block;
			color: black;
			padding: 0 0.5rem 0 0.5rem;
		}

		.resources{

			background-color: yellow;

			.res:nth-child(odd){

				a{

					background-color: white;

				}
				a:hover{


					background-color: magenta;
					color: white;
				}

			}

			.res:nth-child(even){

				a{

					background-color: #dddddd;

				}
				a:hover{

					background-color: magenta;
					color: white;
				}

			}




			.res{

				padding: 0 2rem 0 0.5rem;
				background-color: black;
				color: white;

				strong{

					background-color: red;
					color: white;
					padding: 0 0.5rem 0 0.5rem;
					display: inline-block;
				}

				p{
					display: inline;
				}

			}

			.res::before{

				content: "🔗 ";
				color: red;
			}

			.res.fire::before{

				content: "🔥🔥🔥 ";
				color: red;
			}

			>.resources{

				margin-left: 2rem;
				margin-right: 4rem;
				background-color: blue;

				h2, h3{

					color: #fff;

				}

				h3::before{

				}

				.res{


				}

			}
		}

	}

	
}